/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  color: #333;
  background-image: url("./images/luca-bravo-ii5JY_46xH0-unsplash.jpg");
  background-size: cover;
}

/* Navigation */
nav {
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
}

/* Sections */
section {
  padding: 50px;
  text-align: center;
}

section h2 {
  color: #000;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Home Section */
section#home h1 {
  font-size: 36px;
  color: #fff;
}

/* Portfolio Section */
section#portfolio {
  background: rgba(255, 255, 255, 0.75);
  color: #333;
}

/* Paper List Section */
section#papers {
  background: rgba(244, 244, 244, 0.25);
  color: #333;
}

.paper-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.paper-cover {
  flex: 0 0 30%;
}

.paper-cover img {
  width: 100%;
  height: auto;
}

.paper-details {
  flex: 0 0 70%;
  padding-left: 20px;
}

.paper-details h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.paper-details p {
  font-size: 16px;
  line-height: 1.5;
}

/* Blog Section */
section#blog {
  background: rgba(255, 255, 255, 0.2=75);
  color: #333;
}

/* Social Media Section */
section#social {
  background: rgba(244, 244, 244, 0.25);
  color: #333;
}
/* Footer */
footer {
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  text-align: center;
  color: #fff;
}



